trigger:
  tags:
    include:
    - '*'
  branches:
    include:
    - '*'

pool:
  vmImage: 'ubuntu-latest'

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'
- bash: npm ci
  displayName: 'Install dependencies'
- bash: npm test
  displayName: 'Test'
- bash: npm run eslint
  displayName: 'Lint'
- task: Npm@1
  inputs:
    command: publish
    publishEndpoint: npm
  displayName: 'Publish to npm'
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'), ne(variables['Build.Reason'], 'PullRequest'))

