name: ci

on: [pull_request, push]

permissions:
  contents: write
  pull-requests: write

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: 20
        registry-url: https://registry.npmjs.org/
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Test
      run: npm test
    - name: Lint
      run: npm run lint
    - name: Publish new release
      if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
      run: |
        npm publish
        PACKAGE=$(node -p "require('./package.json').name")
        VERSION=$(node -p "require('./package.json').version")
        until [ $(npm view $PACKAGE --json | jq --arg version "$VERSION" -r '.versions[] | select (. == $version)') ];
        do
          echo "Waiting for publish to complete"
          sleep 5s
        done
        curl -XPOST -H "Authorization: token ${{ secrets.GH_TOKEN }}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/koenkk/zigbee2mqtt/dispatches --data "{\"event_type\": \"update_dep\", \"client_payload\": { \"version\": \"$VERSION\", \"package\": \"$PACKAGE\"}}"
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN }}
