name: CI

on: [pull_request, push]

permissions:
  contents: write
  pull-requests: write
  id-token: write 

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
      - name: Check
        run: pnpm run check
      - name: Test
        run: pnpm test
      - name: Bench
        run: pnpm bench
      - name: Publish new release
        if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
        run: |
          pnpm publish --no-git-checks
          PACKAGE=$(node -p "require('./package.json').name")
          VERSION=$(node -p "require('./package.json').version")
          until [ $(pnpm view $PACKAGE --json | jq --arg version "$VERSION" -r '.versions[] | select (. == $version)') ];
          do
            echo "Waiting for publish to complete"
            sleep 5s
          done
          curl -XPOST -H "Authorization: token ${{ secrets.GH_TOKEN }}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/koenkk/zigbee2mqtt/dispatches --data "{\"event_type\": \"update_dep\", \"client_payload\": { \"version\": \"$VERSION\", \"package\": \"$PACKAGE\"}}"
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
