name: update-deps

on:
    workflow_dispatch:
    schedule:
        - cron: '0 0 * * 0'

permissions:
    contents: write
    pull-requests: write

jobs:
    update_deps:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GH_TOKEN }}
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: npm
            - run: npx npm-check-updates -u -x eslint
            - run: rm -f package-lock.json
            - run: npm install
            - uses: peter-evans/create-pull-request@v7
              env:
                  HUSKY: '0'
              with:
                  commit-message: 'fix(ignore): update dependencies'
                  branch: 'deps/all'
                  title: Update dependencies
                  token: ${{ secrets.GH_TOKEN }}
